.thumbs img{
    width: calc(20% - 16px);
    margin: 20px 16px 0px 0px;
}

.mainPhoto{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top:30px;
}
.pinfo-description{
    padding-top:30px;
}
.mainPhoto img{
    max-height:600px;
}
.arrow{
    position:absolute;
    top:50%;
    font-size: 30px;
}

.arrowLEFT{
    left:0px;
}
.arrowRIGHT{
    right:0px;
}

.thumbsContent{
    display: inline-block;
    padding: 20px 0px;
}

.thumbs img{
    cursor:pointer;
}

.thumbsTitle{
    cursor:pointer;
    padding: 0 15px;
}

.thumbsTitle{
    color:#000;
    transition: all .4s;
}

.active.thumbsTitle{
    color:rgb(0, 113, 189);
}

.pinfo-name {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.pinfo-price{
    font-size: 35px;
     color:rgb(0, 113, 189);
     font-weight:bold;
}

.pinfo-star{
    font-size: 18px;
}

.pinfo-options-block{
    margin-bottom:20px;
}

.pinfo-options{
    padding: 25px 0;
    border-top:1px solid #ccc;
    margin-top:20px;

}

.pinfo-options-description{
    color:rgb(0, 113, 189);
}


.pinfo-tabs{
    padding-top:30px;
}

.btn-block{
        padding: 11px 52px 12px;
        font-size:17px;
        letter-spacing: .7px;
}

a.colours, a.rozmiary{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 5px 3px;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 0px 6px 1px;
}

.pinfo-features{
    padding:15px 0;
    border-top:1px solid #ccc;
    margin-top: 15px;
}

.pinfo-buyPanel.row{
      padding:25px 0;
}

.pinfo-features.row .active{
box-shadow: rgba(39, 39, 39, 0.98) 0px 0px 9px 2px;
}

input{
    width: calc(100% - 76px);
    height: 49px;
    text-align: center;
}

.product-input-flex{
    display: flex;
    text-align: center;
}

.product-input-flex a {
    padding: 0 10px;
    line-height: 48px;
    font-size: 12px;
    color: #010101;
    background-color: #fff;
    cursor: pointer;
}